body {
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
}
main {
    height: 40%;
    display: flex;
    justify-content: center;
    /* margin-bottom: 100px; */
}
main .barra {
    padding: 10px;
    width: 15%;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2F3723;
}

.barra .col-1 .header-imagem {
    display: flex;
    justify-content: center;
    margin-bottom:  20px;
    padding-bottom: 24px;
    border-bottom: solid 1px white;
}

.barra .col-1 .header-imagem .img-usuario{
    width: 150px;
    margin-top: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 100px;
}

.barra .btn {
    width: 100%;
    text-align: left;
    display: block;
    border: none;
    padding: 10px;
    color: white;
    background-color: #2F3723;
    font-size: 20px;
    cursor: pointer;
}
.cima, .meio {
    margin-bottom: 20px;
}
button:last-child {
    margin: 0;
}
#perfilId {
    color: #fff;
}
.perfil-info, .dados-info, .dash-info, .individual-info {
    width: 85%;
    /* margin-left: 10px; */
    background-color: #fff;
    height: 70%;
    padding: 10px;
}
.perfil-info .banner {
    display: flex;
    flex-direction: column;
    background-color: #191D12;
    height: 150px;
    width: 100%;
}
.bxs-edit {
    padding: 10px;
    font-size: 30px;
    color: white;
}
.perfil-info .usuario .img-usuario {
    width: 70px;
    margin-top: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 100px;
}
.usuario {
    display: flex;
    align-items: center;
}
.nome-usuario {
    margin-left: 20px;
    color: #555555;
}
.flex {
    margin-bottom: 20px;
    display: flex;
    gap: 200px;
    padding: 10px;
    border-bottom: 2px solid #c1c1c1;
}
.nome {
    margin-top: 50px;
}
.titulo-usuario {
    font-size: 20px;
    width: 1px;
}
.selectDados select{
    padding: 10px 20px;
    font-size: 17px;
}
.tituloColor {
    color: #5f5f5f;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
}
.conteudo {
    font-size: 18px;
    background-color: #F1F1F1;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.titulo-alt {
    color: #4b4b4b;
    font-size: 22px;
    font-weight: 700;
}


.dash-info {
    display: none;
}
.bannerDados {
    width: 100%;
    background-color: #1F2616;
    height: 200px;
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.branco {
    padding-left: 20px;
    font-size: 60px;
    color: #fff;
}
.brancoText {
    color: #fff;
}
.titulo-planta {
    font-size: 20px;
    font-weight: 100;
    word-spacing: 10px;
}
.divDados {
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #c1c1c1;
    justify-content: space-between;
}
.conteudo-dados {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}
.informacoes-dados {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
   border-bottom: 2px solid black;
   border-top: 3px solid black;
}
.titulo-info {
    font-weight: bold;
    color: #1F2616;
    font-size: 18px;
}
.titulo-dash {
    text-align: center;
    font-size: 50px;
    color: #38703C;
    padding: 30px 0;
    border-bottom: solid 2px;
    margin-bottom: 24px;
}

.footer{
    width: 100%;
    background-color: #191D12;
}
.footer .container-2 {
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding: 25px;
}

.footer .container-2 p{
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.footer .container-2 .contatos img {
    padding: 5px;
    height: 40px;
}

.footer .container-2 .mais-informacoes input {
    margin-top: 15px;
    border-radius: 70px;
    color: #000000;
    width: 237px;
    padding: 10px;
    
}

.footer .linha {
    background-color: #1F2616;
    border-top: #6D9E6B 2px solid;
    width: 100%;
    height: 67px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.footer .linha p{
    padding: 10px 40px;
    color: #FFFFFF;
    /* margin: 0 132px 0 142px; */

    
}
.btnDash {
    font-size: 15px;
    border: none;
    color: #fff;
    width: 80%;
    background-color: #6d6d6d;
    padding: 10px;
    text-align: left;
    display: none;
    cursor: pointer;
}
#myChart3{

    width: 45vw;
    height: 45vh;

}

.barra .col-2 .btn a{
    text-decoration: none;
    color: #fff;
}
.barra a{
    text-decoration: none;
    color: #fff;
}