.individualInfo {
    display: block;
}
.individual-info{
    background-color: #fff;
}
#geralId a,#indiviId a {
    color: white;
    text-decoration: none;
}
#dadosId a {
    color: #fff;
    text-decoration: none;

}
.box{
    background-color: #ebebeb;
    text-align: center;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-cima {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 20px;
}
.marginB {
    margin-bottom: 20px;
}
.green {
    color: #206326;
    font-size: 18px;
    font-weight: bold;
}
.individual-info {
    overflow: hidden;
    overflow-y: scroll;
}
.box select {
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.box option {
    font-size: 18px;
}.titulo-analytics {
    font-family: 'Kanit', sans-serif;
    padding-bottom: 20px;
    font-size: 34px;
    color: #000000;
}
.dash-meio {
    padding: 10px;
    text-align: center;
    gap: 30px;
    margin-bottom: 10px;
}
.anaFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.atual {
    color: #000000;
    font-weight: bold;
    height: 142px;
}
.atual p {
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}

.atual .tempAtual {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}
.dash-graficos {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;

}

.titulo-sensor {
    text-align: center;
    color: #38703D;
}
.table img {
    width: 200px;
    border: 4px solid black;
}
.box h4 {
    color: #206326;
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
}
.box h5 {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #11ce00;
}
.box p {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;

}
.endereco {
    width: 220px;
}
.sele, .data {
    width: 120px;
}
.status {
    width: 180px;
}
.tipo {
    width: 180px;
}
.grafico {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}

.emergencia {
    background-color: orange;
  }
  
  .critico {
    background-color: red;
  }
  
  .alerta {
    background-color: yellow;
  }
  
  
  .ideal {
    background-color: #9ccc65;
  }

  canvas#myChartCanvas {
    border: solid 1px gray;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 8px;
  }
.metricas{

    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

}
  .boxMetricas{

    height: 90px;
    width: 120px;
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
.boxMetricas p{

    color: black;
    font-size: 18px;
    font-weight: bold;

}

#id_critico{

    border: 2px solid orangered;
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#id_emergencia{

    border: 2px solid rgb(255, 123, 0);
    background-color: orange;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#id_alerta{

    border: 2px solid yellowgreen;
    background-color: yellow;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#id_ideal{

    border: 2px solid greenyellow;
    background-color: green;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.boxMetricas .textoMetrica{

    color: white;
}
