body {
    background: #F1F1F1;
}
main {
    height: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
main .barra {
    padding: 10px;
    width: 200px;
    margin-left: 20px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
}

.barra button {
    width: 200px;
    text-align: left;
    display: block;
    border: none;
    padding: 10px;
    color: #555555;
    background-color: transparent;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
button:last-child {
    margin: 0;
}
#perfilId {
    background-color: #1F2616;
    color: #fff;
}
.perfil-info, .dados-info, .dash-info {
    width: 900px;
    margin-left: 10px;
    background-color: #fff;
    height: 70%;
    padding: 10px;
}
.perfil-info .banner {
    display: flex;
    flex-direction: column;
}
.perfil-info .banner .img-banner {
    width: 900px;
    height: 150px;
}
.perfil-info .usuario .img-usuario {
    width: 70px;
    margin-top: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 100px;
}
.usuario {
    display: flex;
    align-items: center;
}
.nome-usuario {
    margin-left: 20px;
    color: #555555;
}
.flex {
    margin-bottom: 20px;
    display: flex;
    gap: 200px;
    padding: 10px;
    border-bottom: 2px solid #c1c1c1;
}
.nome {
    margin-top: 50px;
}
.titulo-usuario {
    font-size: 20px;
}
.conteudo {
    font-size: 18px;
    background-color: #F1F1F1;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.titulo-alt {
    color: #4b4b4b;
    font-size: 22px;
    font-weight: 700;
}
.dados-info {
    display: none;
}
.dash-info {
    display: none;
}
.bannerDados {
    width: 100%;
    background-color: #1F2616;
    height: 200px;
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.branco {
    padding-left: 20px;
    font-size: 60px;
    color: #fff;
}
.titulo-planta {
    font-size: 20px;
    font-weight: 100;
    word-spacing: 10px;
}
.divDados {
    margin-bottom: 20px;
    display: flex;
    gap: 200px;
    padding: 10px;
    border-bottom: 1px solid #c1c1c1;
}
.conteudo-dados {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.informacoes-dados {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
   border-bottom: 2px solid black;
   border-top: 3px solid black;
}
.titulo-info {
    font-weight: bold;
    color: #1F2616;
    font-size: 18px;
}