body {
    background: #F1F1F1;
    font-family: 'Ubuntu', sans-serif;
}
main {
    height: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
main .barra {
    padding: 10px;
    width: 200px;
    margin-left: 20px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
}

.barra .btn {
    width: 200px;
    text-align: left;
    display: block;
    border: none;
    padding: 10px;
    color: #555555;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
.cima, .meio {
    margin-bottom: 20px;
}
button:last-child {
    margin: 0;
}
#perfilId {
    background-color: #1F2616;
    color: #fff;
}
.perfil-info, .dados-info, .dash-info, .individual-info {
    width: 1200px;
    margin-left: 10px;
    background-color: #fff;
    height: 70%;
    padding: 10px;
}
.perfil-info .banner {
    display: flex;
    flex-direction: column;
}
.perfil-info .banner .img-banner {
    width: 100%;
    height: 150px;
}
.perfil-info .usuario .img-usuario {
    width: 70px;
    margin-top: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 100px;
}
.usuario {
    display: flex;
    align-items: center;
}
.nome-usuario {
    margin-left: 20px;
    color: #555555;
}
.flex {
    margin-bottom: 20px;
    display: flex;
    gap: 200px;
    padding: 10px;
    border-bottom: 2px solid #c1c1c1;
}
.nome {
    margin-top: 50px;
}
.titulo-usuario {
    font-size: 20px;
}
.conteudo {
    font-size: 18px;
    background-color: #F1F1F1;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.titulo-alt {
    color: #4b4b4b;
    font-size: 22px;
    font-weight: 700;
}
.individual-info {
    display: none;
}
.dados-info {
    display: none;
}
.dash-info {
    display: none;
}
.bannerDados {
    width: 100%;
    background-color: #1F2616;
    height: 200px;
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.branco {
    padding-left: 20px;
    font-size: 60px;
    color: #fff;
}
.titulo-planta {
    font-size: 20px;
    font-weight: 100;
    word-spacing: 10px;
}
.divDados {
    margin-bottom: 20px;
    display: flex;
    gap: 200px;
    padding: 10px;
    border-bottom: 1px solid #c1c1c1;
}
.conteudo-dados {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.informacoes-dados {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
   border-bottom: 2px solid black;
   border-top: 3px solid black;
}
.titulo-info {
    font-weight: bold;
    color: #1F2616;
    font-size: 18px;
}
.titulo-dash {
    text-align: center;
    font-size: 30px;
    color: #38703D;
    padding: 30px 0;
}
.titulo-sensor {
    margin-top: 20px;
    font-size: 20px;
    color: #4b4b4b;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box{
    text-align: center;
    padding: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dash-cima {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}
h4{
    color: #4b4b4b;
    font-size: 20px;
}
.marginB {
    margin-bottom: 20px;
}
.green {
    color: #38703D;
    font-size: 18px;
    font-weight: bold;
}
.dash-info {
    overflow: hidden;
    overflow-y: scroll;
}
.footer{
    width: 100%;
    background-color: #191D12;
}
.footer .container-2 {
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding: 25px;
}

.footer .container-2 p{
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.footer .container-2 .contatos img {
    padding: 5px;
    height: 40px;
}

.footer .container-2 .mais-informacoes input {
    margin-top: 15px;
    border-radius: 70px;
    color: #000000;
    width: 237px;
    padding: 10px;
    
}

.footer .linha {
    background-color: #1F2616;
    border-top: #6D9E6B 2px solid;
    width: 100%;
    height: 67px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.footer .linha p{
    padding: 10px 40px;
    color: #FFFFFF;
    /* margin: 0 132px 0 142px; */

    
}
.btnDash {
    font-size: 15px;
    border: none;
    color: #fff;
    width: 80%;
    background-color: #6d6d6d;
    padding: 10px;
    text-align: left;
    display: none;
    cursor: pointer;
}
.individual-info {
    overflow: hidden;
    overflow-y: scroll;
}
.box select {
    width: 100%;
    padding: 15px;
    font-size: 20px;
}
.box option {
    font-size: 18px;
}
.dash-meio {
    display: flex;
    align-items: center;
    justify-content: center;
}
.atual {
    background-color: #191D12;
    color: #fff;
}
.atual p {
    font-size: 20px;
}
.amarelo {
    color: yellow;
}
.atual .tempAtual {
    color: #fff;
}
