* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho {
    padding: 10px;

}
.container {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-logo {
    width: 30%;
}
.navbar ul li {
    display: inline;
    margin-left: 20px;
}
.navbar ul li a{
    color: #ffffff;
    text-decoration: none;
}
.idioma button{
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #565656;
    padding: 10px;
}
.bx-globe {
    padding-left: 10px;
    font-size: 30px;
}
.col-1 ul li {
    display: inline;
    margin-left: 20px;
}
.col-1 ul li a {
    text-decoration: none;
}
.conta a {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.sup a {
    color: #ffffff;
} 


body{
    margin: auto;
    padding: 0;
}

.background-image{
    width: 100%;
}


.box_forms{
    width: 450px;
    height: 450px;
    flex:auto;
    background-color: #FFFFFF;
    padding-top: 50px;
    border-radius: 15px ;
    margin-top: 40px;
}

.box_forms input{
    color: #38703D;
    background-color: #F1F1F1;
    border: none;
    box-sizing: border-box #38703D;
    width: 70%;
    height: 47px;
    border-radius: 7px;
    padding: 0 0 0 20px;
}


.log{
    margin-top: 20px;
    width: 15%;
    height: 50px;
    padding: 5px 10px 5px;
    font-weight: bold;
    border: 1px solid #7B7B7B;
    border-radius: 15px;
    cursor: pointer;
}

.but_Log:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

