*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box_forms{
    width: 450px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 450px;
    flex:auto;
    background-color: #FFFFFF;
    padding-top: 50px;
    border-radius: 15px ;
    margin-top: 100px;
}

.box_forms input{
    color: #38703D;
    background-color: #F1F1F1;
    border: none;
    box-sizing: border-box #38703D;
    width: 70%;
    height: 47px;
    border-radius: 7px;
    padding: 0 0 0 20px;
}

.log{
    margin-top: 20px;
    width: 15%;
    height: 50px;
    padding: 5px 10px 5px;
    font-weight: bold;
    border: 1px solid #7B7B7B;
    border-radius: 15px;
    cursor: pointer;
}

.but_Log:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

