*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.conteudo-1{
    background-image: url("../img/fundo1.svg");
    background-color: #000000;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;

}

.conteudo-1 .container-1{
    align-items: center;
    display: flex;
    margin: 0 0 0 90px;
    justify-content: space-between;
}

.conteudo-1 .container-1 .texto h1{
    width: 339px;
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: lighter; /*não negrito*/
}

.conteudo-1 .container-1 .texto p{
    width: 400px;
    font-size: 15px;
    margin-top: 20px;
}

.conteudo-1 .container-1 .texto button{
    background-color: transparent; /*literalmente transparente*/
    width: 142px;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 83px;
}

.conteudo-2 .container-1 .texto-1 {
    display: flex; /*Ele deixa a disposição dos elementos flexível; Ele mexe nos elementos filhos do elemento(div) - Sempre é no Pai dos elementos que quero mexer */
    justify-content: space-between; /*só funcionam fora do display block(padrão html, um embaixo do outro)*/
    height: 414px;
    align-items: center;
    
}

.conteudo-2 .container-1 .texto-1 h2{
    font-size: 40px;

}

.conteudo-2 .container-1 .texto-1 p {
    font-size: 18px;
    font-weight: bold;
    width: 600px;
    height: 150px;
}


.conteudo-3 .container-1 {
    display: flex;
    flex-direction: column; /*Inverte os eixos(alerta!)*/
    height: 581px;
    justify-content: space-around;
}

.conteudo-3 .container-1 .setorCima {
    display: flex;
    justify-content: space-between;

}

.conteudo-3 .container-1 .setorBaixo {
    display: flex;
    justify-content: space-between;

}

.conteudo-3 .container-1 .setor {
    display: flex;
    align-items: center; /*align-items é y vertical*/
    width: 40%;
    justify-content: center; /* justify-content eixo x - horizontal*/
}

.conteudo-3 .container-1 .setor img {
    /* width: 128px; */
    margin-right: 20px;

}

.conteudo-3 .container-1 .setor h4 {
    font-weight: bold;
    font-size: 24px;
}

.conteudo-3 .container-1 .setor p {
   font-size: 16px;
   color: #55717F;
   margin-top: 30px;
}

.banner-1{
    /* background-color: #000000; */
    background-image: url("../img/backSobre.svg");
    background-size: cover;
    height: 850px;
    align-items: center;
    justify-content: center;
    background-position: center;
    
}

.banner-1 .container-3 {
    margin: 0 200px 0 200px;
    font-size: 1.5rem;
    color: #fff;
    width: 80%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.banner-1 .container-3 h1{
    margin-bottom: 40px;
}

.banner-1 .container-3 p{
    font-size: 18px;
    

}



.backgroundOpacity{
    /*background-color: rgba(0, 0, 0, 0.5); /*background com opacidade */
    height: 100%;
    padding: 0;
}

.header img{
    height: 50px;
}



.sobreNos{
    padding-top: 70px;
    background-color: transparent;
    padding-bottom: 100px;
}

.sobreNos .container-1 .sobreNos-title {
    color: #2F3723;
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 900;
    
}

.sobreNos .container-1 p{
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 25px;
} 

.sobreNos .container-1 .botao {
    margin-left: 103px;
    margin-top: 65px;
    margin-bottom: 100px;
  
}

.cards .container-1 {
    display: flex;
    
}

.cards .container-1 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    text-align: center;

}

.cards .container-1 .card:hover {
    box-shadow: 0 8px 16px 0 #2F3723;
  }

.footer .container-2 {
    background-color: #191D12;
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding: 25px;
    padding-left: 103px;
    padding-right: 103px;;
    
}

.footer .container-2 p{
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.footer .container-2 .contatos img {
    padding: 5px;
    height: 50px;
}

.footer .container-2 .mais-informacoes input {
    margin-top: 15px;
    border-radius: 70px;
    color: #000000;
    width: 237px;
    height: 47px;
    
}

.footer .linha {
    background-color: #1F2616;
    border-top: #6D9E6B 2px solid;
    width: 100%;
    height: 67px;
    display: flex; 
    justify-content: space-between;
    padding-left: 103px;
    padding-right: 103px
    ;
    


  
}

.footer .linha p{
    align-items: center;
    padding-top: 15px;
    color: #FFFFFF;
    /* margin: 0 132px 0 142px; */

    
}
/* #c57d56 cor da logo pode ser essa também */
/*cor legal que pode ser background para não ficar muito branco #EED0B2*/
/*DED3C8*/

.container-recurso {
    width: 100%;
    display: flex;
    height: 600px;

}

.container-recurso .imagem-recurso {
    width: 50%;
    height: 100%;
    display: flex;
}

.container-recurso .texto-recurso {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-recurso .texto-recurso h1 {
    color: #38703D;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    font-size: 60px;
    

}

.container-recurso .texto-recurso p {
    margin-bottom: 15px;
    font-size: 20px;
    display: flex;
    padding-right: 100px;

}

.container-recurso .imagem-recurso .arquivo-imagem-recurso {
    width: 570px;
    height: 435px;
    margin: auto;
}
.inputs {
    margin-bottom: 20px;
}
.suporte {
    background: #2F3723;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    color: black;
}
.titulo-suporte {
    font-size: 50px;
    padding: 20px;
    margin-bottom: 30px;
    color: #fff;
}
.inputs p {
    font-size: 20px;
}
.inputs input, textarea{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #f3f3f3;
    border: none;
}
.men {
    width: 600px;
    background-color: #fff;
    padding: 20px;
}
.box {
    padding: 20px;
    display: flex;
}
.sup-img, .sup-img img{
    width: 400px;
    height: 460px;
    opacity: 80%;
}
.box button {
    width: 100%;
    padding: 13px;
    border: none;
    cursor: pointer;
    background-color: #2F3723;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
