*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


.header{
    background-color: white;
    background-image: url("../img/fundo1.svg");
    width: 100%;
    background-color: #000000;
    background-size: cover;
    height: 110px;
    align-items: center;
    justify-content: center;
    background-position: center;
    /* display: flex; */
    /* border-bottom: 4px solid #610000; */
}

.logo{
    color: #cba075;
}

.container-1{
    margin: 0 200px 0 200px; /*margem de respiro - espaço*/
}

.header .container-1{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container-1 li{
    display: inline;
    padding: 0 15px;
}

.header .container-1 .navbar li a{
    text-decoration: none;
    color: #ffffff;
}

.header .container-1 .navbar .btn-header{
    background-color: #111010;
    width: 115px;
    height: 36px;
    padding: 8px 20px;
    border-radius: 5px;
}

.conteudo-1{
    background-image: url("../img/fundo1.svg");
    background-color: #000000;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;

}

.conteudo-1 .container-1{
    align-items: center;
    display: flex;
    margin: 0 0 0 90px;
    justify-content: space-between;
}

.conteudo-1 .container-1 .texto h1{
    width: 339px;
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: lighter; /*não negrito*/
}

.conteudo-1 .container-1 .texto p{
    width: 400px;
    font-size: 15px;
    margin-top: 20px;
}

.conteudo-1 .container-1 .texto button{
    background-color: transparent; /*literalmente transparente*/
    width: 142px;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 83px;
}

/* 
.banner-1{
    background-color: #000000;
    background-image: url("../img/Rectangle\ 659.svg");
    background-size: cover;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-position: center;
    
}

.banner-1 .container-3 {
    margin: 0 200px 0 200px;
    height: 100%;
    font-size: 1.5rem;
    color: #fff;
    padding: 130px 0 0 0;
    /* width: 100%; */

/* } */

.banner-1 .container-3 h1{
    margin-bottom: 40px;
} */

.backgroundOpacity{
    background-color: rgba(0, 0, 0, 0.5); /*background com opacidade*/
    height: 100%;
}

.header img{
    height: 50px;
}
.conteudo-2{
    background-color: transparent; /*literalmente transparente*/
    width: 142px;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 111px;
    margin-left: 90px;
}
.titulo{

    color: #101820;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 150% */
display:inline;
}

.figura-1{

    width: 128px;
    height: 128px;
    flex-shrink: 0;
    margin-top:70px ;
}
.titulo-figura-1{
    margin-left:245.66px ;
    margin-right: 832.34px;
    color:rgba(16, 24, 32, 1);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 150% */
}

.conteudo-figura1{
    display: flex;
    align-items: center;
    


}








/* #c57d56 cor da logo pode ser essa também */
/*cor legal que pode ser background para não ficar muito branco #EED0B2*/
/*DED3C8*/