
body {
    background-color: #F1F1F1;
    font-family: 'Ubuntu', sans-serif;
}
.cabecalho{
    height: 75px;
}
.calculadora {
    text-align: center;
    margin-top: 150px;
    padding-bottom: 50px;
}
.titulo {
    padding: 20px;
    font-size: 50px;
    color: #38703D;
    margin-bottom: 80px;
}
.titulo-tec {
    font-size: 25px;
    padding-bottom: 20px;
}
.box {
    display: flex;
    justify-content: center;

}
.inputs {
    width: 500px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 50px;

}
.inputs p {
   font-size: 20px;
   text-align: center;
}
.inputs input {
    width: 90%;
    margin: 0 3%;
    background-color: #F1F1F1;
    margin-bottom: 30px;
    padding: 15px 10px;
    border: none;
}
.inputs button {
    display: block;
    margin-top: 20px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: #2F3723;
    border-radius: 30px;
    color: white;
    width: 100%;
}
.resultado {
    background-color: #fff;
    width: 500px;
    padding: 20px;
}
.calculadora ul {
    text-align: left;
    margin-bottom: 30px;
    line-height: 25px;
}
.desc{
    margin-bottom: 30px;
    text-align: justify;
}
#mensagem {
    background-color: #F1F1F1;
    padding: 10px;
    border-radius: 10px;
    display: none;
    line-height: 25px;
    text-align: justify;
    /* letter-spacing: 1px; */
    word-spacing: 1px;
}
.green {
    color: #38703D;
}
.vermelho {
    color: red;
}
.footer{
    margin-top: 100px;
    width: 100%;
    background-color: #191D12;
}
.footer .container-2 {
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding: 25px;
}

.footer .container-2 p{
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.footer .container-2 .contatos img {
    padding: 5px;
    height: 40px;
}

.footer .container-2 .mais-informacoes input {
    margin-top: 15px;
    border-radius: 70px;
    color: #000000;
    width: 237px;
    padding: 10px;
    
}

.footer .linha {
    background-color: #1F2616;
    border-top: #6D9E6B 2px solid;
    width: 100%;
    height: 67px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.footer .linha p{
    padding: 10px 40px;
    color: #FFFFFF;
    /* margin: 0 132px 0 142px; */
}
